<section id="home" data-scroll-header class="hero-section cover">{{the-cover}}</section>
<section id="wwa" class="hero-section wwa">{{who-we-are}}</section>
<section id="wwd" class="hero-section wwd">{{what-we-do}}</section>
<section id="team" class="hero-section team ">{{the-team}}</section>
<section class="footer hide">{{page-footer}}</section>
{{yield}}
